@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

canvas {
  height: 100vh;
  width: 100vw;
  background-color: #151515;
}